@font-face {
    font-family: 'RobotoRegular';
    src: url('./Roboto-Regular-webfont.eot');
    src: url('./Roboto-Regular-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Regular-webfont.woff') format('woff'),
         url('./Roboto-Regular-webfont.ttf') format('truetype'),
         url('./Roboto-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('./Roboto-Italic-webfont.eot');
    src: url('./Roboto-Italic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Italic-webfont.woff') format('woff'),
         url('./Roboto-Italic-webfont.ttf') format('truetype'),
         url('./Roboto-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('./Roboto-Bold-webfont.eot');
    src: url('./Roboto-Bold-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Bold-webfont.woff') format('woff'),
         url('./Roboto-Bold-webfont.ttf') format('truetype'),
         url('./Roboto-Bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('./Roboto-BoldItalic-webfont.eot');
    src: url('./Roboto-BoldItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-BoldItalic-webfont.woff') format('woff'),
         url('./Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('./Roboto-BoldItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('./Roboto-Condensed-webfont.eot');
    src: url('./Roboto-Condensed-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Condensed-webfont.woff') format('woff'),
         url('./Roboto-Condensed-webfont.ttf') format('truetype'),
         url('./Roboto-Condensed-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('./Roboto-CondensedItalic-webfont.eot');
    src: url('./Roboto-CondensedItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('./Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('./Roboto-CondensedItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('./Roboto-BoldCondensed-webfont.eot');
    src: url('./Roboto-BoldCondensed-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('./Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('./Roboto-BoldCondensed-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('./Roboto-BoldCondensedItalic-webfont.eot');
    src: url('./Roboto-BoldCondensedItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('./Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('./Roboto-BoldCondensedItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('./Roboto-Thin-webfont.eot');
    src: url('./Roboto-Thin-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Thin-webfont.woff') format('woff'),
         url('./Roboto-Thin-webfont.ttf') format('truetype'),
         url('./Roboto-Thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('./Roboto-ThinItalic-webfont.eot');
    src: url('./Roboto-ThinItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-ThinItalic-webfont.woff') format('woff'),
         url('./Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('./Roboto-ThinItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('./Roboto-Light-webfont.eot');
    src: url('./Roboto-Light-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Light-webfont.woff') format('woff'),
         url('./Roboto-Light-webfont.ttf') format('truetype'),
         url('./Roboto-Light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('./Roboto-LightItalic-webfont.eot');
    src: url('./Roboto-LightItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-LightItalic-webfont.woff') format('woff'),
         url('./Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('./Roboto-LightItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('./Roboto-Medium-webfont.eot');
    src: url('./Roboto-Medium-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Medium-webfont.woff') format('woff'),
         url('./Roboto-Medium-webfont.ttf') format('truetype'),
         url('./Roboto-Medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('./Roboto-MediumItalic-webfont.eot');
    src: url('./Roboto-MediumItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-MediumItalic-webfont.woff') format('woff'),
         url('./Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('./Roboto-MediumItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('./Roboto-Black-webfont.eot');
    src: url('./Roboto-Black-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-Black-webfont.woff') format('woff'),
         url('./Roboto-Black-webfont.ttf') format('truetype'),
         url('./Roboto-Black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('./Roboto-BlackItalic-webfont.eot');
    src: url('./Roboto-BlackItalic-webfont_162a16fe.eot') format('embedded-opentype'),
         url('./Roboto-BlackItalic-webfont.woff') format('woff'),
         url('./Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('./Roboto-BlackItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

